.logform {
    margin-top: 50px;
}

.heading {
    font-size: large;
    margin: 20px;
    text-align: center;
}

.inputfield {
    align-content: center;
    width: 80%;
    margin-left: 10%;    
    margin-right: 10%;
    padding: 0px;
}

.tracker{
    font-size: small;
    width: 100%;
}

button.login {
    margin-top: 75px;
    width: 60%;
    margin-left: 20%;    
    margin-right: 20%;
}

div.create {
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

p.help {
    font-size: smaller;
    text-align: center;
    color: #71808C;
    margin-top: 50px;
}

