.logform {
    margin-top: 50px;
    size: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.heading {
    font-size: large;
    margin: 20px;
    text-align: center;
}

.tracker{
    font-size: small;
    width: 100%;
}

button.login {
    margin-top: 75px;
    width: 60%;
    margin-left: 20%;    
    margin-right: 20%;
}

div.create {
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

p.help {
    font-size: smaller;
    text-align: center;
    color: #71808C;
    margin-top: 50px;
}

