p.title, button.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
    color: #5994B2;
    background: white;
    text-align: center;
}
p.info {
    font-family: Arial, Helvetica, sans-serif;
    color: #71808C;
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
}
p.warn {
    font-size: x-small;
    color: #EC7263; //coral
    margin-left: 5%;
    margin-right: 5%;
}