h2.section {
    color: #7BB4D1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    text-align: left;
}

p.info {
    font-family: Arial, Helvetica, sans-serif;
    color: #71808C;
    font-size: 14px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
p.warn {
    font-size: 12px;
    color: #EC7263; //coral
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}