// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.pages {
    //padding: 20px;
    font-family: Helvetica;
    font-size: large;
    font-style: italic;
    text-align: center;
    color: #EC7263; //coral
}

// Hide scrollbar adapted from 
//http://stackoverflow.com/questions/35952538/how-can-i-disable-or-hide-the-scrollbar-within-an-ionic-2-ion-content
.no-scroll .scroll-content{
     overflow: hidden;
}

ion-navbar {
    font-family: Arial, Helvetica, sans-serif;
}
p.title, button.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
    color: #5994B2;
    background: white;
    text-align: center;
}
p.info {
    font-family: Arial, Helvetica, sans-serif;
    color: #71808C;
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
}
p.warn {
    font-size: x-small;
    color: #EC7263; //coral
    margin-left: 5%;
    margin-right: 5%;
}