ion-navbar {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20;
    color: #5994B2;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #71808C;
}