button.create {
    margin-top: 75px;
    width: 60%;
    margin-left: 20%;    
    margin-right: 20%;
}

.inputfield {
    align-content: center;
    width: 70%;
    margin-left: 15%;    
    margin-right: 15%;
    padding: 0px;
}

.createform {
    margin-top: 50px;
}

.heading {
    font-size: large;
    margin: 20px;
    text-align: center;
}
