.createform {
    margin-top: 50px;
}

.inputfield {
    align-content: center;
    width: 80%;
    margin-left: 10%;    
    margin-right: 10%;
    padding: 0px;
}

.heading {
    font-size: large;
    margin: 20px;
    text-align: center;
}

button.create {
    margin-top: 75px;
    width: 60%;
    margin-left: 20%;    
    margin-right: 20%;
}